body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background: url("./img/background.jpg") no-repeat;
  overflow: hidden;
  font-family: Roboto;
}

.dialog {
  background: url("./img/princess-dialog.png") no-repeat;
  width: 320px;
  height: 160px;
  position: absolute;
  top: 150px;
  left: 535px;
  opacity: 0;
  transition: all 1s;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

#myCanvas {
  border: 5px solid rgb(53, 53, 53);
  border-radius: 2%;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, .5);
}

#shopContainer {
  display: none;
}

.shop {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot {
  display: flex;
}

.sub-shop {
  display: flex;
  width: 20rem;
  height: 16rem;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("./img/scroll.jpg");
  background-size: cover;
  border-radius: 5%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, .5);
}

.sub-shop h1 {
  color: white;
  text-shadow: 2px 2px black;
}

.sub-shop img {
  margin-bottom: 1.5rem;
  border-radius: 10%;
}

.inner-shop {
  display: none;
  width: inherit;
  height: inherit;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

li {
  list-style: none;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background: white;
  color: black;
  border: none;
  border-radius: 15%;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, .1);
}

button:hover {
  background: rgb(200, 251, 255);
  transition: linear 0.25s;
}

button:disabled {
    background: rgb(200, 251, 255);
}

#skillPoints {
  font-size: 1.5rem;
  color: rgb(0, 130, 170);
}

.exitShop {
  background: red;
  color: white;
  border: 1px solid darkred;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, .1);
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1.25rem; 
}

.exitShop:hover {
  background: darkred;
}

.hud {
  position: fixed;
  top: 150px;
  left: 20px;
  border: 1px solid black;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, .4)
}

.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .25s linear;
}

.health-bar-princess {
  margin-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.bar-princess {
  background: pink;
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .25s linear;
}

.xp-bar {
  margin-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.bar-xp {
  background: rgb(129, 228, 228);
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .25s linear;
}

.coins {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.coins img {
  width: 22px;
  height: 20px;
  margin-left: 5px;
  padding-right: 5px;
}

.coins span {
  font-size: 1.2rem;
  bottom: 5px;
}

.level {
  margin: 5px 0 5px 5px;
  display: flex;
  align-items: center;
}

.level span {
  font-size: 1.2rem;
  bottom: 5px;
}

#myLevel {
  margin-left: 5px;
}


@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}